<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt20">
            <div class="col-md-6 offset-md-3">

                <mat-card  style="height: 360px; padding: 8px;">
                <div class="container text-center">
                    <img src="../../../assets/dominos-logo-edit.jpg" style="height: 100px;" alt="">
                </div>
                <h1 class="text-center">Login Here!!</h1>

                <form action="">
                    <!-- Username -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Name</mat-label>
                        <input required matInput placeholder="Enter Here ">
                        <mat-hint>Valid User Name</mat-hint>
                        </mat-form-field>

                        <!-- Password -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" required matInput placeholder="Enter Here ">
                        <mat-hint>Valid Password</mat-hint>
                        </mat-form-field>

                        <div class="container text-center height:10px">
                            <button mat-raised-button color="primary" type="submit">Login</button>
                            <button class="ml10" mat-raised-button color="accent" type="reset">Reset</button>
                        </div>
                </form>
            </mat-card>
            </div>
        </div>
    </div>
</div>